In [1]:
# 1 Convert a integer to a floatig-point number.

num_int = 2
num_float = float(num_int)     
print(type(num_float))
print(num_float)

<class 'float'>
2.0

In [5]:
# 2  Convert a float to a integer.

num_integer = int(2.12)
print(type(num_integer))
print(num_integer)

<class 'int'>
2

In [6]:
# 3 Convert an integer to a String

convert_string = str(8878797)
print(type(convert_string))
print(convert_string)

<class 'str'>
8878797

In [7]:
# 4 Convert a list to tuple

list1 = [1, 2, 3, "Somya", "Garg"]
tuple1 = tuple(list1)
print(type(tuple1))
print(tuple1)

<class 'tuple'>
(1, 2, 3, 'Somya', 'Garg')

In [8]:
# 5 Convert a tuple to a list

tuple2 = (1, 2, 3, 'Somya', 'Garg')
list2 = list(tuple2)
print(type(list2))
print(list2)

<class 'list'>
[1, 2, 3, 'Somya', 'Garg']

In [12]:
# 6 Convert a decimal number to binary

decimal_num = 2
convert_binary = bin(decimal_num)
print(convert_binary)

0b10

In [13]:
#7 Convert a non zero number to boolean

non_zero_number = 5

bool_convert = bool(non_zero_number)
print(type(bool_convert))
print(bool_convert)

<class 'bool'>
True